{% extends "header.html" %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="{% if uri == '/admin' %}active{%end%}"><a href="/admin">简介</a></li>
    <li class="{% if uri == '/admin/chinese' %}active{%end%}"><a href="/admin/chinese">古文观止</a></li>
    <li class="{% if uri == '/admin/english' %}active{%end%}"><a href="/admin/english">新概念英语</a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="{% if uri == '/stock/daily' %}active{%end%}"><a href="/stock/daily">每日数据</a></li>
  </ul>

</div>
{% end %}
