{% extends "../sidebar.html" %}

{% block head_js %}
<script src="{{static_url('js/Chart.js')}}"></script>
{% end %}

{% block main %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="row">
    <canvas  id="canvas" style="width=300;height=100"></canvas>
  </div>
  <div class="row">
    <canvas id="chart-area" style="width=500;height=500"/>
  </div>
</div>
{% end %}

{% block body_js %}
<script>
  var market_value_data = {% raw market_value_data %};
  var doughnutData = {% raw doughnut_data %};
  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx).Bar(market_value_data, {responsive : true});
      
    var ctx = document.getElementById("chart-area").getContext("2d");
    window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
  }

  
</script>
{% end %}
